<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Message from <%= message.user %></h1>
  <p><%= message.text %></p>
  <p>Posted at: <%= message.added.toLocaleString() %></p>
  <p><a href="/">Back</a></p>
</body>
</html>
